# Database
DATABASE_URL="mysql://mercado:mercado@localhost:3307/mercado"
SHADOW_DATABASE_URL="mysql://root:root@localhost:3307/prisma_shadow"

# Auth.js
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID="your-google-client-id"
AUTH_GOOGLE_SECRET="your-google-client-secret"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
